# Editor
*~
*.dir-locals.el  # Emacs directory variable files.

# Build directories
build/
dist/
docs/_build/

# Python
__pycache__/
*.py[cod]
*.egg-info/

.pytest_cache/
.python-version
.ruff_cache/
.tox/

#python virtual environement
/taskgraph/

# Coverage
.coverage

# Artifacts
artifacts/

#Idea
.idea

# MacOS specific
.DS_Store
