[tool.black]
line-length = 88
extend-exclude = """(\
  taskcluster/scripts/external_tools)\
  """

[tool.pytest.ini_options]
xfail_strict = true

[tool.coverage.run]
branch = true
source = ["src/taskgraph/", "taskgraph", "src/taskgraph/run-task/"]

[tool.ruff]
target-version = "py38"

[tool.ruff.lint]
select = [
    "E", "W",       # pycodestyle
    "F",            # pyflakes
    "I",            # isort
    "PLC", "PLE",   # pylint
    "UP",           # pyupgrade
]
ignore = [
    "E402",
    "E501",  # let black handle line-length
    "E741",
]

[tool.ruff.lint.isort]
known-first-party = ["taskgraph"]

[tool.pyright]
include = ["src"]
reportIncompatibleMethodOverride = false
