[tool.black]
line-length = 88
extend-exclude = """(\
  taskcluster/scripts/external_tools)\
  """

[tool.pytest.ini_options]
xfail_strict = true

[tool.coverage.run]
parallel = true
branch = true
source = ["src/taskgraph/", "taskgraph", "src/taskgraph/run-task/"]

[tool.ruff]
target-version = "py38"

[tool.ruff.lint]
select = [
    "E", "W",       # pycodestyle
    "F",            # pyflakes
    "I",            # isort
    "PLC", "PLE",   # pylint
    "UP",           # pyupgrade
]
ignore = [
    "E402",
    "E501",  # let black handle line-length
    "E741",
]

[tool.ruff.lint.isort]
known-first-party = ["taskgraph"]

[tool.pyright]
include = ["src"]
exclude = [  # TODO fix errors in these files
    "src/taskgraph/decision.py",
    "src/taskgraph/docker.py",
    "src/taskgraph/files_changed.py",
    "src/taskgraph/generator.py",
    "src/taskgraph/graph.py",
    "src/taskgraph/main.py",
    "src/taskgraph/morph.py",
    "src/taskgraph/parameters.py",
    "src/taskgraph/taskgraph.py",
    "src/taskgraph/actions/cancel.py",
    "src/taskgraph/actions/cancel_all.py",
    "src/taskgraph/actions/rebuild_cached_tasks.py",
    "src/taskgraph/actions/util.py",
    "src/taskgraph/optimize/base.py",
    "src/taskgraph/run-task/robustcheckout.py",
    "src/taskgraph/transforms/fetch.py",
    "src/taskgraph/transforms/task.py",
    "src/taskgraph/transforms/run/run_task.py",
    "src/taskgraph/util/cached_tasks.py",
    "src/taskgraph/util/decision.py",
    "src/taskgraph/util/python_path.py",
    "src/taskgraph/util/schema.py",
    "src/taskgraph/util/taskcluster.py",
    "src/taskgraph/util/vcs.py",
    "src/taskgraph/util/workertypes.py",
    "src/taskgraph/util/yaml.py",
]
reportIncompatibleMethodOverride = false
