---
trust-domain: taskgraph
treeherder:
    group-names:
        'I': 'Docker Image Builds'
        'doc': 'Documentation tasks'

index:
    products:
        - taskgraph

task-priority: low

taskgraph:
    repositories:
        ci:
            name: Taskgraph

workers:
    aliases:
        images:
            provisioner: 'taskgraph-{level}'
            implementation: docker-worker
            os: linux
            worker-type: images
        t-linux:
            provisioner: 'taskgraph-t'
            implementation: docker-worker
            os: linux
            worker-type: linux
        misc:
            provisioner: 'taskgraph-t'
            implementation: docker-worker
            os: linux
            worker-type: linux
